<div class="container">
	<div class="col-md-7">
		<div class="panel panel-default">
		<div class="panel-body">
			<%= image_tag @window.image.url(:large)%>
		</div>
		<div class="panel-footer">
			<h3><%= "Store: #{@window.store_name} | Location:#{@window.location}" %></h3>
		</div>
		</div>
	</div>
</div>