<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<%= image_tag @window.image.url(:large)%>
		<h1><%= "Store: #{@window.store_name} | Location:#{@window.location}" %></h1>
	</div>
</div>