@import "bootstrap-sprockets"; 
@import "bootstrap";

$bgcolor: #1C8EB2;
$jumbocolor: #8CDDFF;

body { 
	background: $bgcolor !important; 
}

.panel-body {
	background:#8CDDFF;
	text-align: center;
}

.jumbotron {
	background: $jumbocolor;
}
