@import "bootstrap-sprockets"; 
@import "bootstrap";

$bgcolor: #23E8B2;
$jumbocolor: #8CDDFF;

body { 
	background: $bgcolor !important; 
}

.panel-body {
	background:#8CDDFF;
	text-align: center;
}

.panel-footer{
	background: gainsboro;
}

.jumbotron {
	background: $jumbocolor;
	height: auto !important;
}